.mel-collins {
  	

  	position: relative;
  	font-size: 120px;
  	font-family: 'New Rocker';
  	color: #450a0a;
  	text-align: left;
  	display: inline-block;
}
.mel-collins {
    text-align: center;
    display: block;
    margin: 0 auto;

}
.navbar {
    background-color: #af3d3d;

}
body {
    background-color:#db9e9e;
}

.display-1 {
position: relative;
font-size: 100px;
font-family: 'New Rocker';
color: #b73f3f;
text-align: center;
display: inline-block;
}
.lead {
	
position: relative;
font-size: 40px;
font-family: 'Lilita One';
color: #f4cece;
text-align: left;
display: inline-block;
}