.mel-collins {
  	

  	position: relative;
  	font-size: 120px;
  	font-family: 'New Rocker';
  	color: #450a0a;
  	text-align: left;
  	display: inline-block;
}
.mel-collins {
    text-align: center;
    display: block;
    margin: 0 auto;

}
.navbar {
    background-color: #B63E3E;

}
body {
    background-color:#d6a3a3;
}

.display-1 {
position: relative;
font-size: 100px;
font-family: 'New Rocker';
color: #B63E3E;
text-align: center;
display: inline-block;
}
.lead {
	
position: relative;
font-size: 30px;
font-family: 'Lilita One';
color: #572c2c;
text-align: left;
display: inline-block;
}

.project-title {

  	position: relative;
  	font-size: 20px;
  	font-family: 'Lilita One';
  	color: #450a0a;
  	white-space: pre-wrap;
  	display: inline-block;
}

