.mel-collins {
  	

  	position: relative;
  	font-size: 120px;
  	font-family: 'New Rocker';
  	color: #450a0a;
  	text-align: left;
  	display: inline-block;
}
.mel-collins {
    text-align: center;
    display: block;
    margin: 0 auto;

}
.navbar {
    background-color: #af3d3d;

}
body {
    background-color:#db9e9e;
}